* {
  box-sizing: border-box;

}
body {
  background-color:#F5F5F5;
  font-family: courier;
}
p{
  text-align: justify;
}
#active{
  color:#ff9933;
  border-bottom: solid 3px #ff9933;
}
.nav div a:hover {
  color:#ff9933;
  border-bottom: solid 3px #ff9933;
}
.nav {
  margin: 100px 0px 100px 0px;
  width: auto;
}
.nav div {
  float: left;
  margin: 0 auto;
  width: 25%;
  text-align: center;
}
.nav::after{
  content: "";
  clear: both;
  display: table;
}
.nav a{
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}
#mainImage {
    opacity: 0.9;
    width: 100%;
}
#mainImage:hover {
    opacity: 1.0;
}
.row {
 background-color: white;
 font-size: 20px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: 50px;
}
#secondContents h2, h3 {
  text-align: center;
}
#secondContents {
  margin-top: 12px;
  background-color: #121023;
  color: white;
}
#secondContents:hover {
  background-color: #ffa480;
  color: white;
}
#projectImage p {
  border-top: solid 1px black;
  padding-top: 5px;
}
#projectImage p {
  text-align: center;
}
#projectImage:hover {
  opacity: 0.7;
}
#contactImages p, img{
  text-align: center;
}
#contactImages img{
  margin-left: 50%;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
/*for responsive */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-0 {display: none;}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-0 {display: none;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  #mainImage {
    width: 100%;
}
}
.flinks {
  width: 300px;
  margin: 0 auto;
}
.flinks a {
  margin: 10px;
  padding: 10px;
}
.flinks img:hover{
  opacity: 0.5;
}
.footer {
  margin: 50px;
  text-align: center;
}
.footer a{
  color: black;
  text-decoration: none;
}
